*{
    box-sizing: border-box;
}

body {
    margin: auto;
    padding: auto;
}

.header {
    background: #d38519b6;
    text-align: center;
    padding: 15px;
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
}

.container {
    width: 1000px auto;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    background: #000;
    padding: 40px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.form-group label {
    width: 160px;
    color: yellow;
    font-size: 20px;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: none;
    outline: none;
    font-size: 16px;
}

.btn {
    width: 100%;
    padding: 15px;
    background: green;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 25px;
}

.btn:hover {
    background: darkgreen;
}

iframe {
    width: 1250px;
    height: 400px;
    text-align: center;
    margin: auto;
    padding: auto;
}